.video-container{
    position: relative;
    .video{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .video-buttons{
        position: absolute;
        padding: 1rem 1rem;
        bottom: 0;
        height: fit-content;
        width: 50%;
        z-index: 2;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 0.5rem;
        opacity: 1;
        background-color: $blackBg;
        @include transition(all);
        #control{
            width: 100%;
            background-color: rgba(0,0,0,0.5);
        }
        @each $button in $videoButtons {
            ##{$button}{
                height: 3em;
                width: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                stroke: $primary;
                fill: $primary;
                cursor: pointer;
            }
        }
    }
}