<div class="flex items-center navbar-container">
    <div class="relative hamburger-menu-container">
        <svg id="hamburger-menu-icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
        <nav id="navbar-buttons" class="navbar-buttons absolute hidden">
            <ul id="navbar-buttons-container" class="navbar-buttons-container"></ul>
            <div class="navbar-subscriptions-div">
                <h3>Subscriptions</h3>
                <div id="subscriptions-container-navbar" class="subscriptions-container-navbar"></div>
            </div>
        </nav>
    </div>
    <div class="flex nav-container">
        <a href="#/">
            <h1 id="logo" class="text-semiBold">Media Player</h1>
        </a>
        <div id="navbar-input-container">
            <input id="search-input" class="nav-search-input" type="text">
        </div>
        <div class="nav-profile-menu-container">
            <div id="profile-button" class="nav-img-container">
                <img class="profile-img" id="profile-img" alt="Profile image">
            </div>
            <div id="nav-profile-menu" class="nav-profile-menu hidden">
                <div>
                    <img class="profile-img" id="profile-img" alt="Profile image">
                    <h3 class="profile-name" id="profile-name">Alejandro Morales</h3>
                </div>
                <ul id="profile-buttons-container"></ul>
            </div>
        </div>
    </div>
</div>